*{
    margin: 0 auto;
    
}
body{
  max-width: 1980px;
}
.header{
    width: 100%;
    padding: 0 auto;
    background-color: #e0d5da;
    display: flex;
    height: auto;
    flex-wrap: wrap ;
}
.logo img{
    height: 100%;
    border-radius: 50%;
}
.header-left{
    margin:12px 50px;
}
.header-right li{
    justify-content:flex-end;
    display: inline-block;
    margin: 12px 5px;
}

/*hiệu ứng rung lắc điện thoại*/
.hot-phone {
    display: inline-block;
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotate(-2deg);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0) rotate(2deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0) rotate(-1deg);
    }
  
    40%, 60% {
      transform: translate3d(3px, 0, 0) rotate(1deg);
    }
}
.header-right > li{
  transition: 0.5s;
}
.header-right > li:hover{
    transform:translateY(-35%);
}
.header-right > li:last-child:hover{
    transform: none;
    color: red;
    cursor: pointer;
}

.navigiton{
    background-color:rgb(245, 239, 239);
    height: 140px;
    display: flex;
}

.main-menu > li{
    display: inline-block;
    margin: 55px 10px;
    font-family: 'Quicksand', sans-serif!important;
    color:black;
}
.main-menu li  a{
    color:black;
    text-decoration: none;
    display: block;
}
.main-menu  > li > a:hover{
    color: red;
}
.menu-icon > li{
    list-style: none;
    padding-top: 15px;
    margin: 0 30px;
    
}
.menu-icon > li{
  transition: 0.5s;
}
.menu-icon > li:hover{
    transform:scale(1.3);
}

img{
    width: 100%;
}

.main-menu ul.sub-menu{
    margin-top: 5px;
    position:absolute;
    background-color: white;
    height: auto;
    width: 200px;
    padding: 0px;
    border: 1px solid rgb(241, 231, 231);
    display: none;
}
.main-menu ul.sub-menu li:last-child{
    border:none;
}

.sub-menu li{
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgb(204, 190, 190);
}
.sub-menu li{
  transition: 0.5s;
}
.sub-menu li:hover{
    background-color: darkgray;
    font-size: 15px;   
}
.sub-menu{
  z-index: 1;
}
.sub-menu li a{
    color:black;
}
.main-menu ul.sub-menu a{
    padding: 0px 15px; 
}
.main-menu li:hover>ul.sub-menu{
    display: block;
}
.sub-menu ul.sub-menu-child{
    display: none;
    position:absolute;
    background-color: white;
    height: auto;
    width: 200px;
    padding: 0px;
    border: 1px solid rgb(241, 231, 231);
    margin-left:200px;
}
.sub-menu ul.sub-menu-child li a{
    color: black;
}
.sub-menu li:hover>ul.sub-menu-child{
    display: block;
}
/*hover thẻ a main-menu*/
.main-menu > li > a{
    position: relative;
}
.main-menu > li > a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: #f00;
    position: absolute;
    bottom: -5px;
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu > li:hover>a::before{
    display: block;
    width: 100%;
}
.main-menu>li.haschild::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    position: absolute;
    color: rgb(182, 23, 23);
    top:0px;
    right:0px;
}

.content{
    
    background-color: rgb(236, 229, 229);
    padding: 30px 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
/*register*/
.register h1{
    font-size: 40px;
    color: red;
    margin-bottom: 20px;
}
.register .text  input{
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border: none;
    text-indent: 10px;
}
.radio input{
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 0px;
  cursor: pointer;
  width: 40px;
}

.register button{
    margin-bottom: 10px;
    width: 305px;
    height: 30px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #73c9e2 0%, #73c9e2 50%, red 50%,red 100%);
    background-size: 200% 100%;
    transition: all 0.5s ease;
}
.register button:hover{
    background-position: -100% 0;
}
.register a{
    text-decoration: none;
}
.register a:hover{
    color:red;
}
/*support*/
.icon img{
  margin: 15px 70px;
  width: 60px;
}
.icon img {
  transition: transform 0.5s;
}

.icon img:hover {
  transform: translateY(-30%) rotateX(20deg);
  cursor: pointer;
}

.section-support .container{
  
  display: flex;
  justify-content: right;
}
.section-support .container .section-support-detail{
  border: 1px solid rgb(252, 249, 249);
}
h3{
  text-align: center;
}
.section-support .container .section-support-detail p{
  text-align: center;
  padding-top: 10px;
}
/*hỗ trợ*/
.support-floating .support-box i{
  margin: 5px 0;
  font-size: 35px; 
}
.support-box { 
  width: 40px;
  height: auto;
  position: fixed;  
  bottom: 10px; 
  right: 0; 
  padding: 20px; 
  display: none;  
  border-radius: 30px;
  border: 2px solid rgb(241, 57, 57) ;
  
}

.support-box .sup{
  margin: 20px 2px;
}
.support-box .sup a i{
  transition: 0.5s;
}
.support-box .sup a i:hover{
  transform: scale(1.5);
}
.support-box .sup p{
  display: none;
  background: #e0d5da;
  width: 200px;
  height: 25px;
}
.support-box .sup a{
  text-decoration: none;
}
.support-box .sup a:hover p{
  display: block;
}
.support-box .sup a .call{
  position: absolute;
  right: 90px;
  background-color: black;
  color: white;
  font-size: 17px;
  border-radius: 5%;
  text-align: center;
  top:45px;
  padding-top: 5px;
}
.support-box .sup a .mess{
  position: absolute;
  right: 90px;
  background-color: black;
  color: white;
  font-size: 17px;
  border-radius: 5%;
  text-align: center;
  top:110px;
  padding-top: 5px;
}
.support-box .sup a .mail{
  position: absolute;
  right: 90px;
  background-color: black;
  color: white;
  font-size: 17px;
  border-radius: 5%;
  text-align: center;
  top:175px;
  padding-top: 5px;
}
/* .support-box .sup p{
  position: relative;
}
.support-box::before{
  content: "";
  position: absolute;
  border-top: 6px solid transparent ;
  border-bottom: 6px solid transparent ;
  border-left: 5px solid black;
  transform: translateX(100%);
  right:90px;
  top:55px;
} */
.main-footer .container{
  
  border-top: 1px solid rgb(235, 225, 225);
  margin-top:20px;
  display: flex;
  justify-content: space-between;
}
.main-footer .container .footer{
  margin: 20px 30px;
}
.main-footer .container .footer span{
  color: red;
}
.main-footer .container h2{
  margin-bottom: 20px;
  color: red;
}
.main-footer .container a{
  margin: 10px 0;
  display: flex;
  text-decoration: none;
  display: block;
  color:black;
}
.main-footer .container a:hover{
  color: red;
}
.bottom-footer{
  margin-top: 10px;
  height: 100px;
}
.bottom-footer .top-footer{
  height: 50px;
  background-color: red;
}
.bottom-footer .top-footer h2{
  padding: 12px 0;
  text-align: center;
  color: white;
}
.bottom-footer .bot-footer{
  height: 50px;
  background-color: white;
}
.bottom-footer .bot-footer h5{
  padding: 16px 0;
  text-align: center;
  color: rgb(250, 27, 27);
}